/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2015 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-aside-fix .page-aside .page-aside-inner{position:fixed!important;top:66px;bottom:0;width:inherit;overflow-y:scroll}